.hero {
    width: 100%;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
    padding: 250px 0 161px;
}

.hero__left {
    max-width: 531px;
}

.hero__left__title {
    font-weight: bold;
    font-size: 2.75rem;
    line-height: 1.13;
    color: var(--color-green-300);
    margin: 0 0 19px;
}

.hero__left__des {
    max-width: 468px;
    font-size: 1.125rem;
    line-height: 1.2;
    margin: 0 0 40px;
}

.hero__left__des__btn {
    margin-bottom: 30px;
}

.hero__left__des__btn.btn-orange-border {
    margin-left: 20px;
}

.hero__left__video {
    margin-top: 60px;
}

.hero__left__video__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-violet-300);
    border-radius: 4px;
    width: 140px;
    height: 80px;
    border: none;
}

.hero__left__video__btn svg {
    width: 48px;
}

.hero__left__video__des {
    margin-left: 20px;
}

.hero__left__video__des__title {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
}

.hero__left__video__des__text {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-gray-500);
}

.hero__right {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
}

.hero__right__img {
    position: absolute;
    left: 0;
    top: -8%;
}

.hero__company {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
    opacity: .3;
}

.hero__features {
    margin-top: 100px;
    text-align: center;
}

.hero__features__title {
    font-size: 42px;
    line-height: 50px;
    margin: 0;
    color: var(--color-green-300);
}

.hero__features__subtitle {
    margin-top: 13px;
}