* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.font-w-900 {
    font-weight: bold;
}

.btn {
    box-sizing: border-box;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 35px;
    text-decoration: none;
    transition: all .4s;
    cursor: pointer;
}

.btn-blue {
    background: #0391D3;
    border: 1px solid #0391D3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: transparent;
    color: #0391D3;
}

.text-underline {
    text-decoration: underline;
}

.btn-red {
    background: #F3393A;
    border: 1px solid #F3393A;
}

.btn-red:hover,
.btn-red:focus {
    background-color: #942626;
    border-color: #942626;
}


/* color */

.c-blue {
    color: #0391D3;
}

.c-red {
    color: #FF4141;
}


/* /color */


/* bg-c */

.bg-c {
    background-color: #d8d8d8;
}


/* bg-c */


/* /global */


/* header */

.header {
    position: fixed;
    padding: 44px 0 36px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .5);
    background-color: #fff;
}

.header__container {
    justify-content: space-between;
    align-items: center;
}

.header__container__item {
    align-items: center;
    color: #656565;
}

.header__container__item img {
    margin-right: 7px;
}

.header__container__item p {
    margin: 0;
}

.header__container__item__tel {
    display: block;
    text-decoration: none;
    color: #656565;
    transition: color .1s ease-in-out;
}

.header__container__item__tel:hover,
.header__container__item__tel:focus {
    color: #0391D3;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* /header */

.hero {
    padding-top: 150px;
}


/* footep */

.footer {
    height: 138px;
}

.footer__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer__container__title {
    width: 325px;
    font-size: 12px;
    line-height: 20px;
    color: #A4A5A5;
    margin: auto 11px;
}

.footer__container__rool {
    font-size: 14px;
    line-height: 30px;
    color: #999999;
    margin: 0 0 0 auto;
}

.footer__container__go-top {
    background-image: url(../image/arrows-top.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 29px;
}


/* /footep */