a {
    color: #7241c8;
    text-decoration: none;
    font-weight: bolder;
}

p:target {
    display: flex;
    width: fit-content;
    background: #7241c8;
}

.main__container__title {
    margin: 0;
    border-bottom: 2px solid #d1d1d1;
}