/* File-map
──────────────────────────────────────────────────────────── */


/* 
    1. global
    2. header
    3. main
    4. footer
    5. media
*/


/* global
──────────────────────────────────────────────────────────── */

* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond';
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
}

.wrapper {
    max-width: 850px;
    margin: 0 auto;
}

a {
    color: #000;
    text-decoration: none;
}


/* display */

.d-flex {
    display: flex;
}


/* text */

.title {
    font-size: 28px;
    font-weight: 500;
}


/* list */

.list-unstyle {
    list-style: none;
}


/* btn */

.btn {
    width: fit-content;
    padding: 7px 15px;
    color: #aeaeae;
    font-family: sans-serif;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #e8e8e8;
    border-radius: 4px;
    transition: .3s;
    outline: none;
}

.btn:hover,
.btn:focus {
    color: #fff;
    background: #e8e8e8;
}

.burger-btn {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: auto;
    background: transparent;
    border: none;
    display: none;
}

.burger-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    transition: .3s, background-color .3s .3s;
}

.burger-btn span::before,
.burger-btn span::after {
    content: '';
    position: absolute;
    display: block;
    width: inherit;
    height: inherit;
    background: #000;
    border: none;
    transition: top .3s .3s, transform .3s;
}

.burger-btn span::before {
    top: -8px;
}

.burger-btn span::after {
    top: 8px;
}

.burger-btn.active span {
    background: transparent;
    transition: .3s;
}

.burger-btn.active span::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top .3s, transform .3s .3s;
}

.burger-btn.active span::after {
    top: 0;
    transform: rotate(45deg);
    transition: top .3s, transform .3s .3s;
}


/* Убераю стрелочки с инпута */

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


/* header
    ──────────────────────────────────────────────────────────── */

.header {}

.header__container {
    width: 100%;
    padding: 10px 35px;
}

.header__container__navbar {
    align-items: center;
}


/* 1 */

.header__container__navbar__logo {
    margin-right: 15px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}


/* 2 */


/* .header__container__navbar__nav-list {} */


/* .header__container__navbar__nav-list__item {} */

.header__container__navbar__nav-list__item:not(:last-child) {
    margin-right: 20px;
}

.header__container__navbar__nav-list__item__link {
    font-weight: 500;
}


/* 3 */

.header__container__navbar__social-list {
    margin-left: auto;
}


/* .header__container__navbar__social-list__item {} */

.header__container__navbar__social-list__item:not(:last-child) {
    margin-right: 20px;
}


/* .header__container__navbar__social-list__item__link {} */

.header__container__navbar__social-list__item__link__img {
    width: 14px;
}


/* main
    ──────────────────────────────────────────────────────────── */


/* .main {} */


/* 1 */


/* .greeting {} */

.greeting__container {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.greeting__container__des {
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 0 55px;
}

.greeting__container__des__title {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 400;
}

.greeting__container__des__des1 {
    margin-bottom: 10px;
    font-weight: 600;
}

.greeting__container__des__des2 {
    margin-bottom: 20px;
}

.greeting__container__img {
    width: 50%;
    height: 460px;
    object-fit: cover;
}


/* 2 */


/* .articles {} */


/* .articles__container {} */

.story {
    border-bottom: 1px solid #e8e8e8;
}

.story__content {
    justify-content: center;
    flex-direction: column;
    padding: 0 55px;
    width: calc(100%-(100%/3));
}

.story__content__title {
    margin-bottom: 15px;
}

.story__content__des {
    margin-bottom: 20px;
}

.story__img {
    width: calc(100%/3);
    height: 290px;
    object-fit: cover;
}


/* 3 */

.gallery {
    width: 100%;
}

.gallery__container {
    width: 100%;
    padding-bottom: 25px;
}

.gallery__container__title {
    padding: 28px 0;
    text-align: center;
}

.gallery__slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 154px;
    overflow: hidden;
}

.gallery__slider:hover .gallery__slider__btn-prev,
.gallery__slider:hover .gallery__slider__btn-next {
    opacity: 1;
}

.gallery__slider__item {
    position: relative;
    width: fit-content;
    height: inherit;
}

.gallery__slider__item>* {
    width: 100%;
    height: inherit;
}

.gallery__slider__item:hover .gallery__slider__item__des {
    opacity: 1;
}

.gallery__slider__item__des {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background: #00000075;
    transition: .3s;
    opacity: 0;
}

.gallery__slider__item__des__title {
    margin-bottom: 15px;
}

.gallery__slider__item__des__des {
    margin-bottom: 15px;
}

.gallery__slider__item__des__btn {
    color: #fff;
    font-size: 8px;
    border: 1px solid #fff;
}

.gallery__slider__item__des__btn:hover,
.gallery__slider__item__des__btn:focus {
    color: #fff;
    background: transparent;
}

.gallery__slider__btn-prev,
.gallery__slider__btn-next {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 4px solid #fff;
    border-right: none;
    border-bottom: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    outline: none;
    opacity: 0;
    transition: .3s;
    transform: translateY(-25%);
}

.gallery__slider__btn-prev {
    left: 2%;
    transform: rotate(-45deg);
}

.gallery__slider__btn-next {
    right: 2%;
    transform: rotate(135deg);
}


/* features */


/* .features {} */

.features__container {
    padding-bottom: 25px;
}

.features__container__title {
    padding: 25px 0;
    font-size: 28px;
    text-align: center;
}

.features__container__features {
    display: flex;
    flex-wrap: wrap;
}

.features__container__features__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    width: calc(100%/3);
}

.features__container__features__item:nth-child(1),
.features__container__features__item:nth-child(2) {
    border-right: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
}

.features__container__features__item:nth-child(3) {
    border-bottom: 2px solid #e8e8e8;
}

.features__container__features__item:nth-child(4),
.features__container__features__item:nth-child(5) {
    border-right: 2px solid #e8e8e8;
}

.features__container__features__img {
    width: 40px;
    margin-bottom: 15px;
}

.features__container__features__step {
    font-size: 18px;
    margin-bottom: 15px;
}

.features__container__features__des {
    font-size: 15px;
    text-align: center;
}


/* writeToUs
    ──────────────────────────────────────────────────────────── */


/* Общий */

.writeToUs__form__inputs__input,
.writeToUs__form__select,
.writeToUs__form__rexarea {
    padding: 3px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
}


/* /Общий */


/* .writeToUs {} */

.writeToUs__form {
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.writeToUs__form__title {
    text-align: center;
    padding: 25px 0;
}


/* .writeToUs__form__inputs {} */

.writeToUs__form__inputs__label {
    flex-direction: column;
    width: calc(100%/3);
    padding-bottom: 10px;
    font-weight: 600;
}

.writeToUs__form__inputs__label:not(:last-child) {
    margin-right: 10px;
}


/* .writeToUs__form__inputs__input {} */

.writeToUs__form__radios {
    margin-bottom: 10px;
}

.writeToUs__form__radios__text {
    margin-right: 10px;
    font-weight: 600;
}

.writeToUs__form__radios__label {
    margin-right: 15px;
}

.writeToUs__form__inputs__radio {}

.writeToUs__form__select-label {
    flex-direction: column;
    padding-bottom: 10px;
    font-weight: 600;
}


/* .writeToUs__form__select {} */

.writeTous__form__textarea-label {
    flex-direction: column;
    padding-bottom: 10px;
    font-weight: 600;
}

.writeToUs__form__rexarea {
    min-height: 100px;
}

.writeToUs__form__verefication {
    align-items: center;
}

.writeTous__form__verefication__checkbox-label {
    align-items: center;
    font-weight: 600;
}

.writeTous__form__verefication__checkbox {
    margin-right: 7px;
}

.writeToUs__form__verefication__btn {
    margin-left: auto;
}


/* footer
    ──────────────────────────────────────────────────────────── */

.footer {
    border-top: 1px solid #e8e8e8;
    margin-top: 30px;
}

.footer__container {
    padding: 30px 0;
}

.footer__container__social-list {
    justify-content: center;
    margin-bottom: 25px;
}

.footer__container__social-list__item {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid #aeaeae;
    border-radius: 50px;
    transition: all .3s;
}

.footer__container__social-list__item:not(:last-child) {
    margin-right: 10px;
}

.footer__container__social-list__item:hover,
.footer__container__social-list__item:focus {
    background-color: #aeaeae;
}

.footer__container__social-list__item__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container__social-list__item__link__img {
    width: 25px;
}

.footer__container__copyright {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}


/* media
──────────────────────────────────────────────────────────── */

@media (max-width:850px) {
    /* global
    ──────────────────────────────────────────────────────────── */
    body {
        font-size: 12px;
    }
    /* header
    ──────────────────────────────────────────────────────────── */
    .header__container__navbar__logo {
        margin-left: 40px;
    }
    .header__container__navbar__social-list__item {
        display: none;
    }
    /* main
    ──────────────────────────────────────────────────────────── */
    .greeting__container__des__title {
        font-size: 28px;
    }
    .story__img {
        width: 50%;
    }
    .story__content {
        width: 50%;
        padding: 0 35px;
    }
    .gallery__slider__item {
        min-width: 50%;
    }
    .gallery__slider {
        height: 190px;
    }
    .features__container__features__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        width: 50%;
    }
    .features__container__features__item:nth-child(odd) {
        border-right: 2px solid #e8e8e8;
        border-bottom: 2px solid #e8e8e8;
    }
    .features__container__features__item:nth-child(5) {
        border-bottom: none;
    }
    .features__container__features__item:nth-child(even) {
        border-bottom: 2px solid #e8e8e8;
    }
    .features__container__features__item:nth-child(6) {
        border-bottom: none;
    }
    .writeToUs__form {
        width: 90%;
    }
}

@media (max-width:600px) {
    /* global
    ──────────────────────────────────────────────────────────── */
    body {
        font-size: 16px;
    }
    .title {
        font-size: 34px;
    }
    .burger-btn {
        display: block;
        z-index: 3;
    }
    /* header
    ──────────────────────────────────────────────────────────── */
    .header__container {
        position: relative;
        z-index: 3;
    }
    .header__container__navbar__logo {
        font-size: 24px;
        margin-left: 0;
        z-index: 4;
    }
    .header__container__navbar__nav-list {
        position: absolute;
        flex-direction: column;
        top: -400%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 2;
        transition: .3s;
    }
    .header__container__navbar__nav-list.active {
        top: 100%;
    }
    .header__container__navbar__nav-list__item {
        padding: 15px 0;
        text-align: center;
    }
    .header__container__navbar__nav-list__item__link {
        padding: 15px 150px;
        text-align: center;
    }
    .header__container__navbar__nav-list__item:nth-child(1n+1) {
        border-top: 2px solid #e8e8e8;
        margin-right: 0;
    }
    .header__container__navbar__social-list {
        display: none;
    }
    /* main
    ──────────────────────────────────────────────────────────── */
    .greeting__container {
        flex-direction: column-reverse;
    }
    .greeting__container__des,
    .greeting__container__img {
        width: 100%;
    }
    .greeting__container__img {
        object-position: bottom;
    }
    .greeting__container__des {
        padding: 25px 20px;
    }
    .greeting__container__des__title {
        font-size: 36px;
    }
    .greeting__container__des__des1 {
        font-weight: 400;
    }
    .story {
        flex-direction: column;
    }
    .story:nth-child(even) {
        flex-direction: column-reverse;
    }
    .story__img {
        width: 100%;
    }
    .story__content {
        width: 100%;
        padding: 25px 20px;
    }
    .gallery__slider__item {
        min-width: 100%;
    }
    .gallery__slider {
        height: 300px;
    }
    .features__container__features__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        width: 100%;
        border-bottom: 2px solid #e8e8e8;
        border-right: none;
    }
    .gallery__slider__item__des {
        font-size: 24px;
    }
    .gallery__slider__item__des__btn {
        font-size: 18px;
    }
    .writeToUs__form {
        width: 90%;
    }
    .writeToUs__form__inputs {
        flex-direction: column;
    }
    .writeToUs__form__inputs__label {
        width: 100%;
    }
    .writeToUs__form__inputs__label:not(:last-child) {
        margin: 0;
    }
}