/* Style
──────────────────────────────────────────────────────────── */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #202020;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    width: 75%;
    margin: 0 auto;
    padding: 15px 0;
}

.d-flex {
    display: flex !important;
}

.todo-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.input-block {
    position: relative;
    width: 100%;
}

.input-block__input {
    width: 100%;
    padding: 12px 45px 12px 15px;
    color: #d1d1d1;
    font-size: 19px;
    background: transparent;
    border: 2px solid #787887;
    border-radius: 1000px;
    transition: .3s;
}

.input-block__input:focus,
.input-block__input:active {
    border-color: #4f11ba;
}

.input-block__btn {
    position: absolute;
    top: calc(50% - 17.5px);
    right: 7.5px;
    display: none;
    width: 35px;
    height: 35px;
    padding: 0;
    background: #4f11ba;
    border-radius: 1000px;
}

.input-block__btn::before,
.input-block__btn::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 8px);
    display: block;
    width: 16px;
    height: 4px;
    background: #d1d1d1;
    border-radius: 1000px;
    transition: background-color .3s, transform .3s;
}

.input-block__btn::after {
    transform: rotate(90deg);
}

.input-block__btn:hover::before {
    transform: rotate(360deg);
}

.input-block__btn:hover::after {
    transform: rotate(270deg);
}