* {
    transition: 0.3s;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #202020;
}

.contianer {
    max-width: 1110px;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn {
    color: #fff;
    padding: 0;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    letter-spacing: .4px;
}

.btn-border {
    padding: 15px 30px;
    background-color: #99862A;
    font-weight: 500;
    font-size: 16px;
    line-height: 0.8;
}

.btn-menu-header {
    position: relative;
    width: 40px;
    height: 40px;
    display: none;
}

.btn-menu-header__span {
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #fff;
    top: 50%;
    transform: translate(-50%);
}

.btn-menu-header__span::after,
.btn-menu-header__span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    display: block;
}

.btn-menu-header__span::after {
    top: 6px;
}

.btn-menu-header__span::before {
    bottom: 6px;
}

form {
    margin-top: 81px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.input {
    background-color: transparent;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    outline: none;
    width: 100%;
    z-index: 1;
    padding-bottom: 10px;
    transition: 0.3s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #fff;
    font-size: 13px;
    transition: 0.3s;
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label {
    font-size: 10px;
    top: -12px;
}


/* main */


/* header */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.header__btn-menu {
    border: 2px solid #fff;
    border-radius: 30px;
    animation: puls 2s linear infinite;
}

.header__contact {
    margin-top: 30px 0 20px;
    display: flex;
    justify-content: space-between;
}

.header__contact__link {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    position: relative;
    overflow-x: hidden;
}

.header__contact__link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #fff;
    display: block;
    transition: all .4s;
    left: -3px;
    bottom: 0;
}

.header__contact__link:hover::before {
    width: 100%;
    left: 0;
}

.header__nav__menu {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.header__nav__menu__item {
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    padding: 13px 0;
    transition: 0.3s;
}

.header__nav__menu__item__link:hover {
    opacity: .5;
    transition: .3s;
}

.header__nav__menu__item:not(:last-child) {
    border-right: 1px solid #fff;
}

.header__nav__menu__item__link {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
}


/* /header */


/* hero */

.hero {
    width: 100%;
    height: 100vh;
    background-image: url('./../img/bgc.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__container {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    padding-bottom: 150px;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.hero__container__btn {
    margin: 15px;
}


/* .hero__container__btn:hover {
    background: transparent;
    border: solid 1px #fff;
    transition: 0.4s;
    outline-offset: -10px;
} */


/* /hero */


/* best-vine */

.best-vine {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 856px;
    color: #fff;
}

.best-vine__container {
    width: 1110px;
    height: 656px;
    border: solid 3px #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.best-vine__container__title {
    font-weight: 700;
    line-height: 54px;
    font-size: 36px;
    margin-top: 60px;
    font-family: 'Playfair Display', serif;
}

.best-vine__container_line {
    width: 160px;
    border-top: 1px solid #FFFFFF;
    display: flex;
    margin: auto;
}

.best-vine__container__description {
    font-weight: 400;
    margin: 40px 187px 50px 187px;
}


/* /best-vine */


/* new-collection */

.new-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1038px;
    background: #E6E3C4;
}

.new-collection__content {
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
    width: 1110px;
    border-top: 1px solid #998431;
    border-bottom: 1px solid #998431;
}

.new-collection__content__info {
    width: 445px;
}

.new-collection__container__title {
    font-weight: 700;
    line-height: 54px;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
}

.new-collection__content__info__line {
    width: 160px;
    margin-bottom: 30px;
    border-top: 1px solid #282828;
    display: flex;
}

.new-collection__content__info__top-description {
    font-size: 14px;
    line-height: 150%;
}

.new-collection__content__info__table {
    width: 100%;
}

.new-collection__content__info__table__row {
    display: flex;
}

.new-collection__content__info__table__row:not(:last-child) {
    border-bottom: 1px solid #282828;
}

.new-collection__content__info__table__years {
    padding: 31px 24px;
    display: flex;
    border-right: 1px solid #282828;
}

.new-collection__content__info__table__description {
    padding: 15px 0 15px 30px;
}

.new-collection__content__info__table__description__top {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
}

.new-collection__content__info__table__description__bottom {
    margin: 0;
    font-size: 14px;
    line-height: 150%;
}

.new-collection__content__info__btn {
    display: inline-flex;
    margin-top: 30px;
}

.new-collection__content__img-block__bakal {
    margin-bottom: 30px;
}

.new-collection__content__img-block__bottle {
    display: flex;
    justify-content: space-between;
}


/* /new-collection */


/* feedback */

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 767px;
    background: #282828;
}

.feedbeck__container {
    display: flex;
    width: 1110px;
    height: 538px;
    border: 3px solid #C4C4C4;
    color: #fff;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.feedbeck__container__header {
    font-family: Playfair Display;
    display: flex;
    justify-content: space-between;
    width: 106%;
    position: relative;
    top: -6%;
    margin: 0;
}

.feedbeck__container__header__grape {
    width: 260px;
    height: 260px;
    position: relative;
    top: -14%;
}

.feedbeck__container__header__title {
    font-family: Playfair Display;
    background: #282828;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    position: relative;
    margin: 0;
}

.feedbeck__container__header__barrel {
    width: 260px;
    height: 200px;
    position: relative;
    top: -14%;
    right: -2%;
}

.feedbeck__container__content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 541px;
    text-align: center;
    top: -37%;
    justify-content: center;
}

.feedbeck__container__content__line {
    border-top: 1px solid #FFFFFF;
    width: 118px;
    padding-bottom: 25px;
}

.feedbeck__container__content__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.form__group {
    position: relative;
    width: 255px;
}

.form__group:first-child {
    margin-right: 30px;
}

.form__group:last-child {
    margin-top: 40px;
    width: 100%;
}

.feedbeck__container__content__input-area-btn {
    display: block;
    cursor: pointer;
    padding: 15px 0;
    border: 1px solid #fff;
    width: 100%;
    margin-top: 50px;
    transition: 0.3s;
}

.feedbeck__container__content__input-area-btn:hover {
    opacity: .5;
    transition: .3s;
}


/* /feedback */


/* footer */

.footer {
    background-color: #99862A;
    padding: 50px 0;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding: 19px 95px;
}

.footer__menu__list_link {
    font-size: 14px;
    line-height: 150%;
    color: #fff;
}

.footer__footer {
    display: flex;
    padding: 0 95px;
    justify-content: space-between;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.footer__footer__list__link,
.footer__footer__list {
    color: #fff;
}

.footer__footer__list {
    padding: 16px 16px 16px 0;
    text-transform: uppercase;
}

.footer__footer__list:last-child {
    padding-right: 0;
}

.footer__footer__list:nth-child(3) {
    padding: 0;
    display: flex;
}

.footer__footer__list:not(:last-child) {
    border-right: 1px solid #fff;
}

.footer__footer__soc {
    display: flex;
    align-items: center;
}

.footer__footer__soc__list {
    margin-right: 35px
}


/* /footer */


/* keyframes */

@keyframes puls {
    0% {
        box-shadow: 0 0 0 0 #fefefe, 0 0 0 0 #fefefe00;
    }
    40% {
        box-shadow: 0 0 0 9px #fefefe00, 0 0 0 0 #fefefe00;
    }
    80% {
        box-shadow: 0 0 0 9px #fefefe00, 0 0 0 6px #fefefe00;
    }
    100% {
        box-shadow: 0 0 0 0 #fefefe00, 0 0 0 6px #fefefe00;
    }
}


/* keyframes */


/* media */

@media screen and ( max-width: 1024px) {
    .new-collection__content {
        justify-content: center;
        text-align: center;
        font-size: 30px;
    }
    .new-collection__content__info {
        width: 850px;
    }
    .new-collection__content__info__line {
        margin: 0 auto;
    }
    .new-collection__content__info__top-description {
        font-size: 20px;
    }
    .new-collection__content__info__table__description__top {
        font-size: 25px;
    }
    .new-collection__content__info__table__description__bottom {
        font-size: 20px;
    }
    .footer__menu {
        padding: 15px 40px;
    }
    .footer__footer {
        padding: 0 40px;
    }
    .best-vine__container {
        margin: 0 15px;
    }
    .best-vine__container__description {
        margin: 40px 50px 50px 50px;
    }
    .new-collection__content__img-block {
        display: none;
    }
    .best-vine__container__img {
        display: none;
    }
    .feedbeck__container {
        margin: 0 15px;
    }
    .feedbeck__container__content {
        position: static;
    }
    .feedbeck__container__header__title {
        margin: 0 auto;
    }
    .feedbeck__container__header__grape,
    .feedbeck__container__header__barrel {
        display: none;
    }
}

@media screen and ( max-width: 768px) {
    .header__nav {
        margin-top: 20px;
        display: none;
    }
    .header__nav__menu {
        flex-direction: column;
        width: 100%;
        border: 1px solid #fff;
    }
    .header__nav__menu__item {
        width: 100%;
        text-align: center;
        border-right: none;
    }
    .header__nav__menu__item:not(:last-child) {
        border: 1px solid #fff;
    }
    .btn-menu-header {
        display: block;
    }
    .btn-menu-header:hover+.header__nav {
        display: flex;
    }
    .new-collection__content__info {
        width: 500px;
    }
    .new-collection__content__info__top-description {
        font-size: 13px;
    }
    .new-collection__content__info__table__description__top {
        font-size: 16px;
    }
    .new-collection__content__info__table__description__bottom {
        font-size: 16px;
    }
    form {
        margin-top: 0;
        flex-direction: column;
    }
    .feedbeck__container__content {
        width: 500px;
    }
    .feedbeck__container__content__input-area {
        width: 90%;
    }
    .form__group {
        margin-top: 40px;
        width: 100%;
    }
    .footer__menu,
    .footer__footer {
        padding: 10px;
    }
    .footer__footer {
        flex-wrap: wrap;
        border: none;
    }
    .footer__menu {
        flex-wrap: wrap;
    }
    .footer__menu_list:not(:last-child) {
        margin: 0 15px 10px 0;
    }
    .footer__footer__list {
        width: 50%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #fff;
    }
    .footer__footer__list:first-child {
        order: 3;
    }
    .footer__footer__list:last-child {
        order: 4;
        border-right: 1px solid #fff;
    }
    .footer__footer__list:nth-child(2),
    .footer__footer__list:nth-child(3) {
        border-top: 1px solid #fff;
    }
    .footer__footer__list:first-child,
    .footer__footer__list:nth-child(2) {
        border-left: 1px solid #fff;
    }
}


/* /media */