/* File map
────────────────────────────────────────────────────────────

1. Global
2. Input
3. Button
4. Textarea

──────────────────────────────────────────────────────────── */


/* Global 
──────────────────────────────────────────────────────────── */

.wrapped-ui {
    color: #d1d1d1;
    font-family: sans-serif;
    background: transparent;
    border: 2px solid #4d4d4d;
    transition: color .3s, border-color .3s;
    outline: none;
}

.wrapped-ui:hover {
    border-color: #4f11ba;
}

.wrapped-ui:focus {
    color: #ffffff;
    border-color: #4f11ba;
}


/* Input
──────────────────────────────────────────────────────────── */


/* global */

input.wrapped-ui {
    padding: 7px 10px;
    border-radius: 100px;
}

input::placeholder.wrapped-ui {
    color: #4d4d4d;
}


/* Button
──────────────────────────────────────────────────────────── */

button.wrapped-ui {
    padding: 7px 10px;
    border-radius: 100px;
}


/* Textarea
──────────────────────────────────────────────────────────── */

textarea.wrapped-ui {
    padding: 5px 7px;
    border-radius: 15px;
}